# Script privado del presentador
presentacion/script_presentador.md

# Datos (excepto el dataset del proyecto)
*.xlsx
*.parquet
data/
!dataset/icfes_saber11.csv

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# Databricks
.databricks/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
